[submodule "secp256k1"]
	path = secp256k1
	url = https://github.com/bitcoin/secp256k1.git


[submodule "cmake/modules"]
	path = cmake/modules
	url = https://github.com/Xeth/cmake-modules.git


[submodule "libscrypt"]
	path = libscrypt
	url = https://github.com/technion/libscrypt.git
[submodule "cryptopp"]
	path = cryptopp
	url = https://github.com/weidai11/cryptopp.git
